h1 {
    color: black;
    outline-color: white;
    outline: auto;
    text-align: center;
}

a {
    font-weight: 1000;
    text-decoration: underline;
}

ul {
    outline: auto;
}

h4 {
    text-decoration: underline;
    text-align: center;
}

p {
    font-weight: 1000;
    text-decoration: underline;
}

dt {
    font-style: oblique;
}

html {
    background-color: rgb(194, 194, 194);
}

a {
    outline: auto;
}